.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .social-media-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
  }
  
  .social-media {
    margin: 0 10px; /* Add margin for spacing between images */
  }
  
  .logo {
    width: 50px; /* Adjust the size of the logos */
    height: auto;
  }
  