/* EditEventModal.css */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
  }
  
  .input-field[type="password"] {
    background-color: black;
    color: white;
  }
  
  .input-field[type="date"] {
    background-color: black;
    color: white;
  }
  
  .input-field[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  