@font-face {
  font-family: 'Panfleta Stencil';
  src: url('/PanfletaStencil-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'American Captain';
  src: url('/American-Captain.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black background */
}

.centered-text {
  text-align: center;
}

button {
  text-align: center;
}

header {
  background-color: #000000; /* Dark background color for header */
  padding: 20px;
  color: white;
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 25px;
}

header img {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 200px; /* Adjust the maximum height as needed */
}

h1 {
  font-family: 'Panfleta Stencil', sans-serif; /* Apply custom font */
  font-size: 80px; /* Set font size to 40px */
  color: white; /* Set text color to white */
  text-align: center;
  margin-bottom: 20px;
}

.event-date {
  display: inline-block; /* Make the element inline-block */
  font-family: sans-serif; /* Apply custom font */
  font-size: 50px; /* Set font size to 80px */
  color: white; /* Set text color to white */
  text-align: center;
  background-color: black;
  border: 3px solid white; /* Add a white border */
  border-radius: 5px; /* Add border radius for rounded corners */
  padding: 10px; /* Add padding for spacing */
}

.image-wrapper {
  display: table;
  max-width: 800px; /* Set maximum width */
  margin: 0 auto; /* Center content horizontally */
}

.image {
  width: 100%;
  border-radius: 10px;
  margin-right: 20px;
  margin-right: 20px;
}

.intro-text {
  color: white; /* Set text color to white */
  font-size: 25px; /* Set font size to 35px */
  line-height: 1.5;
  text-align: left; /* Align text to the left */
}