/* IntroSection.css */
.intro-section {
  text-align: center;
}

.content-wrapper {
  max-width: 800px; /* Set maximum width */
  margin: 0 auto; /* Center content horizontally */
}

.intro-text {
  color: white; /* Set text color to white */
  font-size: 25px; /* Set font size to 35px */
  line-height: 1.5;
  text-align: left; /* Align text to the left */
}

.intro-image {
  width: 100%;
  border-radius: 10px;
  margin-right: 20px;
  margin-right: 20px;
}
